<div *appFuseIfOnDom class="logo">
  <b>Know</b>Gas Portal
</div>

<div *appFuseIfOnDom id="forgot-password-form">

  <div class="title">RECOVER YOUR PASSWORD</div>

  <form [formGroup]="forgotPasswordForm" name="forgotPasswordForm" novalidate>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
      <mat-error *ngIf="forgotPasswordFormErrors.email.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <button (click)="restorePassword()"
            (click)="restorePassword()"
            [disabled]="forgotPasswordForm.invalid"
            [disabled]="forgotPasswordForm.invalid"
            aria-label="SEND RESET LINK"
            aria-label="SEND RESET LINK"
            class="submit-button"
            color="accent">
      SEND CONFIRMATION CODE
    </button>
  </form>

  <div class="login" fxLayout="row" fxLayoutAlign="center center">
    <a [routerLink]="'/auth/login'" class="link">Go back to login</a>
  </div>

</div>
