@import "../../../../core/fuse/scss/fuse";
@import '../../../../core/fuse/scss/variables/knowgas-variables';

.logo {
  margin: 16px 0 32px 0;
  color: #3498db;
  font-size: 40px;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
  text-align: center;
}

.spinner::ng-deep circle {
  stroke: mat-color($custom-primary, 700);
}

#change-password-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  background: #FFFFFF;
  @include mat-elevation(16);

  @include media-breakpoint('xs') {
    padding: 24px;
    width: 100%;
  }

  .title {
    font-size: 20px;
    margin: 16px 0 32px 0;
  }

  form {
    width: 100%;
    text-align: left;

    mat-form-field {
      width: 100%;
    }

    .submit-button {
      width: 220px;
      margin: 16px auto;
      display: block;

      @include media-breakpoint('xs') {
        width: 90%;
      }
    }
  }

  .login {
    margin: 32px auto 24px auto;
    width: 250px;
    font-weight: 500;

    .text {
      margin-right: 8px;
    }
  }
}
