<div id="change-password-form">

  <div class="title">CHANGE YOUR PASSWORD</div>

  <form [formGroup]="changePasswordForm" fxLayout="column" name="changePasswordForm" novalidate>

    <mat-form-field>
      <input formControlName="old_password" matInput placeholder="Old Password" type="password">
      <mat-error *ngIf="resetPasswordFormErrors.password.required">
        Old Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error *ngIf="resetPasswordFormErrors.password.required">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="confirm_password" matInput placeholder="Confirm password" type="password">
      <mat-error *ngIf="resetPasswordFormErrors.confirm_password.required">
        Confirmation of password is required
      </mat-error>
      <mat-error
        *ngIf="changePasswordForm.errors?.mismatch && (changePasswordForm.controls['confirm_password'].dirty || changePasswordForm.controls['confirm_password'].touched)">
        Confirmation of password does not match password
      </mat-error>
    </mat-form-field>

    <div fxLayoutAlign="end">
      <button (click)="changePassword(true)"
              [disabled]="changePasswordForm.invalid"
              aria-label="Confirm"
              class="submit-button"
              color="success"
              mat-raised-button>
        Confirm
      </button>
      <button (click)="changePassword(false)"
              aria-label="Close"
              class="submit-button"
              color="grey"
              mat-raised-button>
        Close
      </button>
    </div>
  </form>
</div>
