<div id="restore-password-form">

  <div class="title">FINISH RESTORING PASSWORD</div>

  <form [formGroup]="restorePasswordForm" name="restorePasswordForm" novalidate>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="confirmationCode" matInput placeholder="Confirmation Code">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPassword" matInput placeholder="New Password" type="password">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="confirmNewPassword" matInput placeholder="Confirm New Password" type="password">
    </mat-form-field>

    <button (click)="finishRestorePassword()"
            [disabled]="restorePasswordForm.invalid"
            aria-label="CHANGE PASSWORD"
            class="submit-button"
            color="accent"
            mat-raised-button>
      CHANGE PASSWORD
    </button>
  </form>

  <div class="login" fxLayout="row" fxLayoutAlign="center center">
    <a [routerLink]="'/auth/login'" class="link">Go back to login</a>
  </div>

</div>
